/* shared styles */
body{}
/* header related style */

.header {
  background-image: url(../resources/Banner\ Image.png);
  border-radius: 16px;
  width: 1320px;
  height: 600px;
}

/* nav related styles */

nav {
  color: #fff;
  font-family: Merriweather;
  text-align: center;
}
.nave-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 177px;
}
.nave-title-content {
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
  padding-bottom: 187px;
}
/* /main section */
.about {
  width: 1600px;
  height: 735px;

  text-align: center;
  font-family: Inter;
}
.section-title {
  color: #f00;

  font-size: 88px;
  font-style: normal;
  font-weight: 700;

  margin-top: 120px;
  margin-bottom: 48px;
  padding-left: 80px;
  padding-right: 300px;
}
.section-title-2 {
  color: #f00;

  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  padding-left: 80px;
  padding-right: 300px;
}
.section-categories {
  color: #070211;

  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  padding-left: 80px;
  padding-right: 300px;
}
.image {
  width: 802.9px;
  height: 500px;
  flex-shrink: 0;
  padding-left: 80px;
  padding-right: 300px;
}
.Welcome {
  background-image: url("../resources/Vectorrr.png");
  margin-top: 120px;
  width: 1320px;
  height: 600px;
  display: flex;

}
.greeting {
  color: #FFF;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; 
  letter-spacing: 7.04px;
  width: 642px;
  padding-left: 126px;
  padding-top: 126px;
}

.group-70{
  
padding-top: 68px;
padding-right: 15px;
padding-left: 80px;

}


.greeting-description {
  width: 697px;
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  padding-left: 126px;

}


.join{
  color: #FFF;

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
padding-left: 160px;}

.sheule{
  width: 1320px;
  height: 482px;
  flex-shrink: 0;
  font-size: 32px;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
text-align: center;
margin-top: 120px;

}
.shedule-color{color: #F00;
  text-align: center;
  font-family: Inter;




}
.span{
  align-items: center;
  padding-top: 100px;
 
}
.btn{
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 8px;
  background: #F00;
  padding: 16px 32px;
border-color: transparent;
}
.new-offer{
  width: 1600px;
  height: 7335px;

margin-top: 20px;
display: flex;
justify-content: space-around;
}
.class-description{
  width: 276px;
  padding-right: 300px;
}
.span-color{

  color:#FF0000;
}
.picture{

  margin-top: 120px;
  padding-left: 700px;
}